<ion-header class="ion-no-border" translucent>
  <ion-toolbar>
    <ion-title>Prueba ROTH</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment value="all">
    <ion-segment-button (click)="segmentChanged('instrucciones')" value="instrucciones" >
      <!-- <ion-label>INSTRUCCIONES</ion-label> -->
      <ion-icon name="reader-outline"></ion-icon>
    </ion-segment-button>
    <ion-segment-button (click)="segmentChanged('prueba')" value="prueba">
      <ion-label>PRUEBA</ion-label>
      <!-- <ion-icon name="reader-outline"></ion-icon> -->

    </ion-segment-button>
    <ion-segment-button (click)="segmentChanged('info')" value="info">
      <ion-icon name="information-circle-outline"></ion-icon>
    </ion-segment-button>
  </ion-segment>
  </ion-toolbar>
  
</ion-header>


<ion-content fullscreen="true">
  <!-- INSTRUCCIONES  -->
  <div *ngIf="segmento == 'instrucciones'">
    <ion-card >
      <ion-card-header>
        <ion-card-title>
          INSTRUCCIONES
        </ion-card-title>
      </ion-card-header>
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <img src="assets/medico.png">
        </ion-col>
        <ion-col>
          <br>
          <ion-label class="texto">Solicite al paciente que tome una respiración profunda y cuente en voz alta hasta el numero 30 tan rápido como sea posible sin volver a tomar aire.</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <br>
          <ion-label class="texto">Detenga el cronómetro cuando el paciente ya no pueda seguir contando o llegue al número 30.</ion-label>
        </ion-col>
        <ion-col size="4">
          <img src="assets/comunicaciones.png">
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  </div>
  <!-- PRUEBA -->
  <div *ngIf="segmento == 'prueba'">

    <ion-card>
      <ion-card-header>
        <ion-card-title>Paso #1</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Contar en voz alta hasta 30 en el mayor tiempo posible.
      </ion-card-content>
      <ion-item >
        <ion-icon class="cronometro" name="stopwatch-outline" slot="start"></ion-icon>
        <ion-label class="cronometro" slot="start">{{ segundos }}</ion-label><!--CONTADOR del cronometro que se muestra en pantalla-->
        <ion-icon class="cronometro" slot="end" (click)='start_stop()' [name]="texto" [color]='colors'></ion-icon>
        <ion-icon class="cronometro" slot="end" (click)='restart()' name="stop-circle-outline" color='danger'></ion-icon>
      </ion-item>
    </ion-card>

  <form #formulario="ngForm" (ngSubmit)="onSubmitTemplate()">
    <!--INPUT donde se obtienen los numero contados-->
    <ion-card>
      <ion-card-header>
        <ion-card-title>Paso #2</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Ingresa los numeros que se alcanzaron a contar al poner pausa.
      </ion-card-content>
      <ion-range min="0" max="30" pin color="secondary" [(ngModel)]="Numerito" [ngModelOptions]="{standalone: true}">
        <ion-icon slot="start" size="small" name="remove-circle-outline"></ion-icon>
        <ion-icon slot="end" name="add-circle-outline"></ion-icon>
      </ion-range>
    </ion-card>   
    <ion-card>
      <ion-card-header>
        <ion-card-title>Paso #3</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        En este paso, el tiempo que hiciste y los numeros que contaro se usaran para calcular la capacidad pulmonar aproximada.
      </ion-card-content>
      <ion-item>
        <ion-button slot="end" type="submit" (click)="Oxigeno()">RESULTADO</ion-button><!-- Boton para CHECAR resultados -->
      </ion-item> 
    </ion-card>
  </form>
  
  </div>
  <!-- INFORMACION -->
  <div *ngIf="segmento == 'info'">
    <ion-card>
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="../../assets/disclaimer.gif">
        </ion-thumbnail>
        <ion-label>
          <h3>Descargo de responsabilidad</h3>
        </ion-label>
      </ion-item>
      <ion-card-content>
        La Escala de Roth es una de 
        telemedicina de bajo y 
        fácil utilización utilizada para  
        estratificar la severidad de la
        respiratoria (disnea) en función
        los niveles bajos de oxigenación
        (Hipoxia). Aunque se ha establecido 
        una fuerte correlación entre la 
        disnea y la hipoxia; esta prueba
        intenta reemplazar la revisión
        ni el diagnóstico sobre la
        respiratoria efectuado por un 
        de la medicina. Su uso se limita 
        a poder identificar pacientes en 
        riesgo de desarrollar o tener 
        disnea severa y constituye únicamente 
        un indicador para buscar ayuda 
        médica profesional.
      </ion-card-content>
    </ion-card>
  
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Referencias</ion-card-subtitle>
      </ion-card-header>
      <ion-item>
        <ion-icon name="book" slot="start"></ion-icon>
        <ion-label>Nuevo plan para las enfermedades pulmonares</ion-label>
        <ion-button fill="outline" slot="end" href="https://rebelem.com/rebel-cast-ep80-a-new-war-plan-for-covid-19-with-richard-levitan/?fbclid=IwAR08RVO9i1tLTWumXdSqboaGhjhOQAo7eEwCw9kcLC_bRurbqh3s297jApk" routerDirection>VER</ion-button>
      </ion-item>    
      <ion-card-content>
        La economía actual de la atención médica se ha vuelto cada vez más dependiente de la atención de alto valor como una estrategia necesaria para lidiar con la escasez de recursos y la creciente demanda de los pacientes.
      </ion-card-content>
      <ion-item>
        <ion-icon name="book" slot="start"></ion-icon>
        <ion-label>Roth para evaluación de dificultad respiratoria</ion-label>
        <ion-button fill="outline" slot="end" href="https://onlinelibrary.wiley.com/doi/full/10.1002/clc.22586" routerDirection>VER</ion-button>
      </ion-item>
      <ion-card-content>
        El puntaje Roth tiene una fuerte correlación con la gravedad de la disnea según lo determinado por la hipoxia. Esta herramienta es reproducible, de baja utilización de recursos y susceptible de telemedicina.
      </ion-card-content>
    </ion-card>
  
  <!-- ASOCIACIONES  -->
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>
          En asociación con
        </ion-card-subtitle>
      </ion-card-header>
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <img src="assets/cruzroja.png">
          </ion-col>
           <ion-col size="6">
            <img src="assets/empresa.png">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            <img src="assets/Mexico.svg">
          </ion-col>
          <ion-col size="4">
            <img src="assets/tec.png">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <img src="assets/meraki.png">
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
    <!-- LISTA DE COLABORADORES -->
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>
          Colaboradores
        </ion-card-subtitle>
      </ion-card-header>
      <ion-item >
        <ion-label>Omar Villanueva</ion-label>
        <ion-icon name="logo-facebook" slot="end"></ion-icon>
      </ion-item>
      <ion-item >
        <ion-label>Rodrigo Colin</ion-label>
        <ion-icon name="logo-instagram" slot="end"></ion-icon>
        <ion-icon name="logo-facebook" slot="end"></ion-icon>
      </ion-item>
      <ion-item >
        <ion-label>Manuel Acosta</ion-label>
        <ion-icon name="logo-twitter" slot="end"></ion-icon>
      </ion-item>
      <ion-item >
        <ion-label>Alejandro Laguna</ion-label>
        <ion-icon name="logo-linkedin" slot="end"></ion-icon>
        <ion-icon name="logo-github" slot="end"></ion-icon>
        <ion-icon name="logo-twitter" slot="end"></ion-icon>
      </ion-item>
      <ion-item >
        <ion-label>Gerardo Martínez</ion-label>
        <ion-icon name="logo-linkedin" slot="end"></ion-icon>
        <ion-icon name="logo-instagram" slot="end"></ion-icon>
      </ion-item>
      <ion-item >
        <ion-label>Hector Romero</ion-label>
        <ion-icon name="logo-linkedin" slot="end"></ion-icon>
        <ion-icon name="logo-instagram" slot="end"></ion-icon>
        <ion-icon name="logo-github" slot="end"></ion-icon>
      </ion-item>
    </ion-card>
  </div>

  <!-- Fin -->
</ion-content>
